<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lecturers</title>
</head>
<body>
    <h1>Lecturers</h1>

    <p><a href="/">Home</a></p>
    <table border="1" cellpadding="5" cellspacing="0">
        <thead>
            <tr>
                <th>Lecturer ID</th>
                <th>Name</th>
                <th>Department ID</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% lecturers.forEach(lecturer => { %>
                <tr>
                    <td><%= lecturer.sid %></td>
                    <td><%= lecturer.name %></td>
                    <td><%= lecturer.age %></td>
                    <td><a href="/students/delete/<%= student.student_id %>">Delete</a></td>

                    <td><a href="/lecturer/delete/<%= lecturer.lid %>">Delete</a></td>
                </tr>
                <% }) %>
        </tbody>
    </table>
</body>
</html>-->